<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Přihlášení | Lunch app</title>
  <link rel="stylesheet" href="style.css" th:href="@{/css/style.css}"/>
</head><meta charset="UTF-8">
<body>
<div class="login">
  <h1>Přihlášení</h1>
  <h4>Přihlašte se pomocí e-mailu a hesla:</h4>
  <form action="login" method="post">
    <label>E-mail</label>
    <input type="email" name="email" />
    <label>Heslo</label>
    <input type="password" name="password" />
    <button type="submit">Submit</button>
  </form>
</div>
<p class="creating-account">
  Nemáte účet? <a href="register.html">Vytvořte si ho zde</a>
</p>
<p class="password-reset">
  Zapoměli jste heslo?
  <a href="resetpassword.html">Vygenerujte si ho si ho zde</a>
</p>
</body>
</html>

