<!DOCTYPE html>
<html lang="cs">
<head>
  <title>Přihlášení | Lunch app</title>
  <link rel="stylesheet" href="style.css" />
</head><meta charset="UTF-8">
<body>
<div class="signup">
  <h1>Registrace</h1>
  <h4>Zadejte e-mail, jméno, příjmení a heslo:</h4>
  <form action="register" method="post" />
  <form>
    <label>E-mail</label>
    <input type="email" name="email" />
    <label>Jméno</label>
    <input type="Jméno" name="firstName" />
    <label>Příjmení</label>
    <input type="Příjmení" name="secondName" />
    <label>Heslo</label>
    <input type="password" name="password" />
    <button type="submit">Submit</button>
  </form>
  <p>
    Vytvořením účtu souhlasíte s našimi <br />
    <a href="#">Terms & Condition</a> a <a href="#">Policy & Privacy</a>
  </p>
</div>
<p class="creating-account">
  Máte již účet vytvořený? <a href="login.html">Přihlašte se zde</a>
</p>
</body>
</html>